body
{
    background: url("http://109.123.243.163/fht/background_downscaled.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    user-select: none;
}

#back_button
{
    position: fixed;
    /* margin-top: 1vh;
    margin-left: 1vh; */
    top: 1vh;
    left: 1vh;
    font-size: xx-large;
    padding: 1vh;
    border-radius: 0.5vh;
    background-color: #B97C15;
    color: #C1BFBE;
    border-color: #4D2B09;
    width: 8vh;
    height: 8vh;
}