body
{
    background: url("http://207.180.212.190/fht/background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    user-select: none;
}

#back_button
{
    position: fixed;
    margin-top: 1vh;
    margin-left: 1vh;
    font-size: xx-large;
    padding: 1vh;
    border-radius: 0.5vh;
    background-color: #B97C15;
    color: #C1BFBE;
    border-color: #4D2B09;
}