body
{
    background: url("http://207.180.212.190/fht/fabrika_imgs/23.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    user-select: none;
}

#textPole
{
    width: 55.5vh;
    height: 25.5vh;
    resize: none;
    border-radius: 0.5vh;
    font-size: 1.7vh;
    user-select: none;
    border-color: #3E392F;
    background: #6F7270;
    color: #C1BFBE;
}

#nav_buttons
{
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-top: 50vh;
    padding:auto;
    margin-left: 15vh;
}

.tlacitko
{
    color: #C1BFBE;;
    background: #9E6812;
    border-color: #4D2B09;
    margin-bottom: 1vh;
    border-radius: 0.84vh;
    border-width: 0.32vh;
    width: 35vh;
    height: 7vh;
    font-size: larger;
}