#panorama
{
    display: inline;
    border-radius: 0.5vh;
}

#panorama_div
{
    width: 100%;
    text-align:center;
}

#sipky
{
    display: flex;
    justify-content: center;
}

#sipky > button
{
    width: 10vh;
    height: 10vh;
    font-size: xx-large;
    border-radius: 0.5vh;
    background-color: #B97C15;
    color: #C1BFBE;
    border-color: #4D2B09;
}